/* ============   FROM ONVIBER ============ */
.border-cyan {
    border-color: #1abc9c !important;
}

.content-box span, .content-box.content-box-icon-o i, .content-box.content-box-icon-o-circle span, .content-box.content-box-icon-o-circle i {
    border: 1px solid;
}

.col-md-4,
.col-sm-6,
.col-sx-12 {
    padding-right: 12px;
    padding-left: 12px;
}



.needFlexBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#features {
    background-color: rgba(230, 227, 234, 1);
}

.featuresContainer {
    padding-top: 50px;
}

.footer-one {
    padding-top: 40px;
}
.bg-grad-stellar {
        background: rgba(40, 94, 132, 1);
        background: -webkit-linear-gradient(-45deg, #7474BF, rgba(40, 94, 132, 1));
        background: -o-linear-gradient(-45deg, #7474BF, rgba(40, 94, 132, 1));
        background: -moz-linear-gradient(-45deg, #7474BF, rgba(40, 94, 132, 1));
        background: linear-gradient(-45deg, #7474BF, rgba(40, 94, 132, 1));
    /*background-color: rgba(40, 94, 132, 1);*/
    padding-top: 45px;
    padding-bottom: 45px;
}
.bg-grad-stellar__world {
    background-color: rgba(79, 56, 117, 1);
    background: -webkit-linear-gradient(-45deg, #7474BF, rgba(79, 56, 117, 1));
    background: -o-linear-gradient(-45deg, #7474BF, rgba(79, 56, 117, 1));
    background: -moz-linear-gradient(-45deg, #7474BF, rgba(79, 56, 117, 1));
    background: linear-gradient(-45deg, #7474BF, rgba(79, 56, 117, 1));
}
.bg-grad-stellar__contact {
    background-color: rgba(102, 151, 175, 1);
    background: -webkit-linear-gradient(-45deg, #7474BF, rgba(102, 151, 175, 1));
    background: -o-linear-gradient(-45deg, #7474BF, rgba(102, 151, 175, 1));
    background: -moz-linear-gradient(-45deg, #7474BF, rgba(102, 151, 175, 1));
    background: linear-gradient(-45deg, #7474BF, rgba(102, 151, 175, 1));
}

@media (max-width: 1200px) {
    .navbar-toggle {
        margin-right: 20px;
    }
}

@media (max-width: 765px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
        margin: 0 auto;
    }
    .col-sx-12,
    .col-xs-12{
        margin: 0 auto;
    }
    .content-box.content-box-center {
        margin: 0 auto;
    }
    .content-box {
        float: none;
    }


}


.navbar__logo {
    height: 50px;
    width: 150px;
    background: url("../../img/logo/logo.jpg") center no-repeat;
    background-size: contain;
    border-radius: 6px;

}